div.p01{
	font-family:Gill Sans MT Condensed;
	font-size:25px;
	margin-left:100px;
	color:orange;
	
}

div.p02{
	font-family:Times New Roman;
	font-size:40px;
	margin-left:100px;
	color:white;
	
	
	
	
}
div.p03{
	font-family:Times New Roman;
	font-size:15px;
	margin-left:100px;
	color:orange;
}






div.p001{
	font-family:Gill Sans MT Condensed;
	font-size:25px;
	margin-left:0px;
	color:orange;
	
}

div.p002{
	font-family:Times New Roman;
	font-size:40px;
	margin-left:0px;
	color:Orange;
	
	
	
	
}
div.p003{
	font-family:Times New Roman;
	font-size:15px;
	margin-left:0px;
	color:orange;
}
div.p04{
	font-family:Times New Roman;
	font-size:60px;
	margin-left:100px;
	color:white;
	
	
	
	
}



div.p05{
	font-family:Gill Sans MT Condensed;
	font-size:50px;
	margin-left:100px;
	color:white;
	
}